.header_title {
  margin: 0 0 60px 0;
  min-width: 140%;
  transform: translateX(-10%);
  z-index: 5;

  &__content {
    display: grid;
    column-gap: 20px;
    align-items: center;
    grid-template-columns: 47% 1fr;
  }

  &__column {


    &__item1 {
      background: #407BBF;
      padding: 15px 22px 15px 0;
      border-radius: 0 15px 15px 0;

      &__red {
        background: #FF5773;
      }

      @media (max-width: 576px) {
        padding: 10px 18px 10px 0;
      }
    }

    &__item2 {

    }
  }

  &__class {
    text-align: right;
    font-weight: 900;
    font-size: 24px;
    color: #FFFFFF;

    @media (max-width: 992px) {
      font-size: 20px;
    }

    @media (max-width: 576px) {
      font-size: 17px;
    }
  }

  &__text {
    text-align: left;
    font-size: 36px;
    color: #626267;

    @media (max-width: 992px) {
      font-size: 28px;
    }

    @media (max-width: 767px) {
      font-size: 20px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
      max-width: 200px;
    }
  }
}


.literacy {
  padding: 40px 0 86px 0;
  background: #fff;

  .slick-slider {

    .slick-track, .slick-slide div {
      outline: none;
      z-index: 5;
    }

    .slick-dots {
      bottom: -40px;

      li {
        button {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 2px solid #FF5773;

          &::before {
            content: '';
          }
        }
      }

      li.slick-active {
        button {
          background: #FF5773;
        }
      }
    }

    .slick-next {
      width: 40px;
      height: 50px;
      z-index: 10;
      top: 58%;
      right: 45px;

      &::before {
        content: '';
      }

      &::after {
        content: '';
        position: absolute;
        right: -30px;
        top: 15px;
        border: 10px solid transparent;
        border-left: 20px solid #FF5773;
      }

      @media (max-width: 576px) {
        top: 30%;
      }

      @media (max-width: 480px) {
        right: 25px;
      }
    }

    .slick-prev {
      width: 40px;
      height: 50px;
      z-index: 10;
      top: 58%;
      left: 45px;

      &::before {
        content: '';
      }

      &::after {
        content: '';
        position: absolute;
        left: -30px;
        top: 15px;
        border: 10px solid transparent;
        border-right: 20px solid #FF5773;
      }

      @media (max-width: 576px) {
        top: 30%;
      }

      @media (max-width: 480px) {
        left: 25px;
      }
    }

  }

  @media (max-width: 576px) {
    padding: 20px 0 60px 0;
  }

  &__container {
  }

  &__content {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 20px;
    justify-content: space-between;

    @media (max-width: 992px) {
      grid-template-columns: 45% 45%;
      justify-content: space-around;
    }

    @media (max-width: 576px) {
      grid-template-columns: auto;
    }
  }

  &__column {
    &__item1 {
      grid-row: 1 / 3;

      @media (max-width: 992px) {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
      }

      @media (max-width: 576px) {
        grid-row: 1;
        grid-column: 1 / 3;
      }
    }

    &__item2 {
      grid-row: 1;
      @media (max-width: 576px) {
        grid-row: 2;
        grid-column: 1 / 3;
        max-width: 400px;
        margin: auto;
      }
    }

    &__item3 {
      grid-row: 1;

      @media (max-width: 992px) {
        grid-row: 2;
        grid-column: 2 / 2;
      }
      @media (max-width: 576px) {
        grid-row: 3;
        text-align: center;
        grid-column: 1 / 3;
      }
    }

    &__item4 {
      grid-column: 2 / 4;
      @media (max-width: 992px) {
        grid-column: 1 / 3;
      }
    }
  }
}

.table {

  &::before, &::after {
    content: '';
    z-index: 1;
    position: absolute;
    height: 86px;
    width: 5px;
    border-radius: 0 0 2px 2px;
    background: #626267;
    top: -60px;
  }

  &::before {
    left: 33.9px;
  }

  &::after {
    right: 33.9px;
  }

  @media (max-width: 1200px) {
    &::before, &::after {
      content: none;
      display: none;
    }
  }

  &__dots {
    display: block;
    height: 1px;
    min-width: 100%;
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      top: 15px;
    }

    &::before {
      left: 13px;
    }

    &::after {
      right: 13px;
    }

    @media (max-width: 1200px) {
      content: none;
      display: none;
    }
  }

  max-width: 320px;
  position: relative;
  margin: auto;
  background: #407BBF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  color: #fff;
  text-align: center;
  padding: 0.1px 13px 13px 13px;
  z-index: -1;

  &__title {
    margin-top: 15px;
  }

  &__content {
    margin: auto;
    padding: 0 0 20px 0;
    background: #fff;
    border-radius: 0px 0px 30px 30px;

    @media (max-width: 767px) {
      padding: 0 0 10px 0;
    }

    &_box {
      padding: 40px 20px 20px 15px;

      @media (max-width: 767px) {
        padding: 15px;
      }

      input {
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        color: #AEAEB5;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #626267;
        width: 100%;
        margin: 0 0 13px 0;
        display: block;


        @media (max-width: 767px) {
          font-size: 15px;
          line-height: 15px;
          margin: 0 0 10px 0;
        }
      }
    }

    &_button {
      background: #FF5773;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
      border-radius: 37px;
      border: none;
      font-size: 24px;
      color: #fff;
      padding: 4.3px 33px;

      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}

.timetable {

  &__item {
    padding: 3px 0 0 55px;
    font-size: 18px;
    color: #626267;
    position: relative;
    min-height: 40px;

    @media (max-width: 767px) {
      font-size: 15px;
      min-height: auto;
      padding: 0 0 0 30px;
    }

    &::before {
      content: '';
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      left: 0;
      top: 0;

      @media (max-width: 767px) {
        background-size: 20px !important;
      }
    }
  }
}

.icon {

  &__comment {
    font-size: 14px;
    line-height: 16px;
    color: #626267;

    &::before {
      background: url("../../../../images/landing/literacy/comment.svg") left top no-repeat;
      //@media (max-width: 767px) {
      //  background-size: 25px;
      //}
    }
  }

  &__payment {
    &::before {
      background: url("../../../../images/landing/literacy/payment.svg") left top no-repeat;
      //@media (max-width: 767px) {
      //  background-size: 25px;
      //}
    }
  }

  &__calender {
    &::before {
      background: url("../../../../images/landing/literacy/calender.svg") left top no-repeat;
      //@media (max-width: 767px) {
      //  background-size: 25px;
      //}
    }
  }

  &__time {
    &::before {
      background: url("../../../../images/landing/literacy/time.svg") left top no-repeat;
      //@media (max-width: 767px) {
      //  background-size: 25px;
      //}
    }
  }

  &__person {
    &::before {
      background: url("../../../../images/landing/literacy/profile-photo.svg") left top no-repeat;
      //@media (max-width: 767px) {
      //  background-size: 25px;
      //}
    }
  }
}

.link {

  a {
    display: inline-block;
    position: relative;

    @media (max-width: 992px) {
      width: 165px;
    }

    &::before {
      content: '';
      transition: all .2s;
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -40%);
      width: 25%;
      height: 25%;
      border-radius: 50%;
      background: url("../../../../images/landing/literacy/elipse.svg") center center no-repeat;
      background-size: contain;
    }

    &:hover {
      &::before {
        background-size: contain;
      }
    }
  }

  &__video {
    width: 100%;
  }
}

.timer {

  &__content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  &__column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__dots {
    position: absolute;
    right: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: #FF5773;

    @media (max-width: 576px) {
      font-size: 26px;
    }
  }
}

.time {

  &__number {
    font-size: 64px;
    line-height: 87px;
    font-weight: bold;
    color: #FF5773;

    @media (max-width: 576px) {
      font-size: 40px;
    }

  }

  &__days {
  }

  &__hours {
  }

  &__minutes {
  }

  &__seconds {
  }

  &__mark {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FF5773;

    @media (max-width: 576px) {
      font-size: 15px;
    }
  }
}
