.subject {
  padding: 92px 0 40px 0;
  color: #626267;
  background: linear-gradient(180deg, #D0E6FF 0%, rgba(114, 178, 255, 0) 100%), #FFFFFF;

  @media (max-width: 992px) {
    padding: 20px 0 40px 0;
  }

  &__textContent {
    * {
      color: #626267 !important;
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  &__content {
    margin: 0 0 130px 0;

    @media (max-width: 992px) {
      margin: 0 0 100px 0;
    }


    @media (max-width: 767px) {
      margin: 0 0 80px 0;
    }

    @media (max-width: 576px) {
      margin: 0 0 30px 0;
    }
  }

  &__column {
    margin-bottom: 20px;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 5;
      grid-row: 3;

      @media (max-width: 992px) {
        grid-row: auto;
      }
    }
  }

  &__titles {
    margin: 0 0 16px 0;

    @media (max-width: 576px) {
      margin: 0 0 20px 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 26px 0;

    @media (max-width: 767px) {
      font-size: 30px;
    }
    @media (max-width: 576px) {
      font-size: 25px;
    }
  }

  &__subTitle {
    margin: 0 0 16px 0;
    @media (max-width: 767px) {
      font-size: 20px;
    }
    @media (max-width: 576px) {
      font-size: 17px;
    }
  }

  &__info {
  }

  &__box {
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  &__textTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }

  &__mainText {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }

  &__bottom {
  }

  &__item {
  }

  &__teacher {
  }
}

.subjectInfo {

  &__person {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 21px 0;
  }

  &__name {
    margin-right: 15%;
    @media (max-width: 576px) {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__language {
    padding: 0 0 0 26px;
    background: url("../../../images/general/subject/globe.png") left center no-repeat;
    @media (max-width: 576px) {
      display: block;
    }
  }
}

.subjectItem {
  border: 1px solid #FF5773;
  box-sizing: border-box;
  border-radius: 20px;
  background: #FFF;
  margin: 0 0 10px 0;

  &__top {
  }

  &__bottom {
    transition: all .5s ease-in-out;
  }

  &.active {
    .subjectItem__bottom {
      visibility: hidden;
      height: 0;
    }

    .subjectItemTop__toggle {
      transform: rotate(-45deg);
    }
  }
}

.subjectItemTop {
  padding: 22px 30px;
  background: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  margin: -1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  @media (max-width: 576px) {
    padding: 15px 15px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    z-index: 3;
    cursor: pointer;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__toggle {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 2px solid #FF5773;
    border-right: 2px solid #FF5773;
    margin-right: 0;
    transform: rotate(135deg) translateY(50%);
    transition: all .3s;
  }

  &__title {
    margin: 0 0 0 25px;

    @media (max-width: 576px) {
      margin: 0 0 0 10px;
    }
  }

  &__right {
    margin-left: 20px;
  }

  &__lecture {
    margin: 0 20px 0 0;
  }

  &__duration {
  }

  &__title, &__lecture, &__duration {
    @media (max-width: 576px) {
      font-size: 15px;
    }
  }
}

.subjectItemButton {
  padding: 0 30px;
  overflow: hidden;

  @media (max-width: 576px) {
    padding: 0 10px;
  }

  &__item {
    box-sizing: border-box;
    min-height: 70px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
      flex-direction: column;
      justify-content: center;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__left, &__right {
    display: flex;
    align-items: center;

    @media (max-width: 576px) {
     justify-content: space-between;
    }
  }

  &__right {
    @media (max-width: 576px) {
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }

  &__icon {
    display: inline-block;
    margin: 0 17px 0 0;

    @media (max-width: 576px) {
      margin: 0 10px 0 0;
    }
  }

  &__title, &__preview {
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #FF5773;

    @media (max-width: 576px) {
      font-size: 13px;
    }
  }

  &__title {
  }

  &__preview {
    margin: 0 32px 0 0;
  }

  &__duration {
    @media (max-width: 576px) {
     font-size: 12px;
    }
  }
}

.subjectVideo {
  background: #FFFFFF;
  position: relative;
  border-radius: 18px;
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  padding: 20px 20px 50%;
  margin-bottom: 46px;

  &__video {
    position: absolute;
    width: calc(100% - 40px) !important;
    height: calc(100% - 40px) !important;
  }
}

.subjectTeacher {
  margin: 0 0 25px 0;

  &__top {
    display: flex;
    align-items: center;
  }

  &__img {
    border-radius: 50%;
    overflow: hidden;
    min-width: 101px;
    max-width: 101px;
    min-height: 101px;
    max-height: 101px;
    margin: 0 11px 0 0;
    position: relative;

    @media (max-width: 767px) {
      min-width: 75px;
      max-width: 75px;
      min-height: 75px;
      max-height: 75px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__description {
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  }

  &__subject {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }

  &__bottom {
  }

  &__text {
    text-indent: 50px;
    font-size: 18px;
    line-height: 21px;

    @media (max-width: 767px) {
      font-size: 15px;
      text-indent: 0;
    }
  }
}

.subjectTabs {

  &__header {

  }

  &__body {

  }
}