.checkOut {
  position: fixed;
  z-index: 200000;
  top: 50%;
  left: 50%;
  //transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 68%;
  height: 95%;
  background: linear-gradient(180deg, #D0E6FF 0%, rgba(114, 178, 255, 0) 100%), #FFFFFF;
  border-radius: 10px;
  padding-bottom: 25px;
  box-sizing: border-box;

  @media (max-width: 576px) {
    width: 100%;
  }

  &__body {
    padding: 0 30px 20px 30px;
    overflow: auto;
    height: 90%;

    @media (max-width: 576px) {
      padding: 0 5px 20px 5px;
    }
  }

  &__wrapper {
  }

  &__title {
    margin: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    background: #407BBF;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    border-radius: 10px 10px 0 0;

    .close {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      &__relative {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);

        span {
          position: absolute;
          height: 100%;
          width: 3px;
          background: #fff;
          border-radius: 10px;

          &:first-child {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 70% min(340px);
    //padding-bottom: 30px;

    @media (max-width: 992px) {
      grid-template-columns: 100%;
    }
  }

  &__courseTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #626267;
  }

  &__subTitle {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #626267;
  }
}

.checkOut-subject {

  &__content {
    margin: auto;
    max-width: 567px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

    .bottom__column {
      margin: 10px;
    }
  }

  &__subContent {
    max-width: fit-content;
    position: relative;


    .bottom__column {
      margin: 10px;

      &:last-child {
        //margin: 0;
      }
    }
  }
}

.checkOut-select {

  &__wrapper {
    margin-bottom: 22px;
  }

  &__short {
    width: 30%;
    margin-right: 30px;

    @media (max-width: 576px) {
      margin-right: 0;
    }
  }

  &__long {
    width: 60%;
  }

  &__input {
    @media (max-width: 576px) {
      display: block;
      width: 100%;

      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
}

.checkOut-side {
  margin-left: 20px;
  margin-top: -20px;
  grid-column: 2;
  grid-row: 2/4;
  height: 100%;

  @media (max-width: 992px) {
    grid-column: 1;
    grid-row: 5;
    height: 100%;
    margin: 10px;
  }

  &__btn {
    text-align: center;
    display: block;
    color: #fff;
    padding: 4px 10px;
    background: #FF5773;
    border-radius: 9px;
    font-weight: 500;
    font-size: 18px;
    border: none;
    margin: 0 auto;

    span {
      display: block;
    }
  }

  &__title {
    background: #FD6CA3;
    padding: 13px;
    border-radius: 10px 10px 0 0;

    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    span {
      display: block;

      &:first-child {
        font-weight: 900;
        font-size: 24px;
      }

      &:last-child {
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  &__body {
    background-color: #fff;
    height: 100%;
    border-radius: 10px;
  }

  &__wrapper {
    margin: 0 20px;
    height: 85%;
    box-sizing: border-box;
    padding: 30px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__checkBoxes {
    //padding: 62px 0;
  }

  &__checkTitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #626267;
  }

  &__checkSubTitle {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #626267;
  }

  &__boxRequired {
    display: block;
    padding-left: 20px;
    font-size: 16px;
    color: #626267;
    max-width: 250px;
    position: relative;
    line-height: 19px;
    font-style: italic;

    span {
      position: absolute;
      left: 5px;
      color: #FF3870;
    }
  }

  &__label {
    margin-bottom: 17px;
    display: block;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkOut-side__checkMark {
      &::after {
        background: #ff5773;
      }
    }
  }

  &__checkMark {
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background: transparent;
    border: 2px solid #FF5773;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      width: 60%;
      height: 60%;
      transition: .5s all;
      background: transparent;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

.bank {

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__text {
    font-size: 18px;
    line-height: 21px;
    color: #FF5773;
  }

  &__img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }
}

.subOverlay {
  position: absolute;
  background: rgba(107, 107, 107, 0.6);
  border: 1px solid #A7A7A7;
  box-sizing: border-box;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: -10px -10px 10px 10px;
  top: 20px;
  left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 15px);
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  &__text {
    margin-top: 40px;
  }

  &__btn {

  }
}

.subOverlayBtn {
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;

  &__img {

  }

  &__text {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
  }
}

.about {

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    flex-basis: 48%;
    &:first-child {
      text-align: right;
      font-size: 14px;
      color: #626267;
    }
    &:last-child {
      font-weight: bold;
      font-size: 14px;
      color: #626267;
    }
  }
}

.results {
  width: 80%;
  margin: auto;
  color: #626267;
  padding-top: 20px;

  &__info {
    margin-bottom: 15px;

    &.textLeft {
      p > span:first-child {
        text-align: left;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  &__column {
    flex-basis: 48%;
    font-weight: normal;
    font-size: 26px;
    color: #626267;

    &:first-child {
      text-align: right;
    }

    &:last-child {
      font-weight: 500;
    }
  }

  &__amount {
    display: inline-block;

    &.active {
      padding: 3px 7px;
      background: #ff5773;
      border-radius: 5px;
      color: #fff;
    }
  }
}

.resultsBlock {
  font-size: 20px;
  padding: 38px 41px;
  background: #fff;
  border-radius: 5px;

  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin: 0 0 5px 0;
  }

  &__text {
    margin: 0 0 5px 0;
  }
  &__link {

  }
}