.modalSignIn {

  &__overlay {

    position: fixed;
    top: -200%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    visibility: hidden;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.3);
    overflow: auto;

    &.modalActive {
      top: 0;
      visibility: visible;
    }

  }

  padding: 73px 0 78px 0;
  position: relative;
  max-width: 700px;
  margin: 6% auto 40px auto;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  text-align: center;

  @media (max-width: 992px) {
    max-width: 500px;
    padding: 40px 0 40px 0;
  }

  @media (max-width: 767px) {
    margin: 6% auto 20px auto;
  }

  @media (max-width: 576px) {
    max-width: 86%;
    padding: 20px 10px 20px 10px;
  }

  &__title {
    margin: 0 0 25px 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #03382E;

    @media (max-width: 767px) {
      font-size: 38px;
    }

    @media (max-width: 576px) {
      font-size: 30px;
      margin: 0 0 15px 0;
    }
  }

  &__text {
    margin: 0 0 35px 0;

    @media (max-width: 576px) {
      margin: 0 0 20px 0;
    }
  }

  &__red {
    color: #FF5773;
  }

  &__form {
    width: 72%;
    margin: auto;

    @media (max-width: 576px) {
      width: 90%;
    }
  }
}

.SignInform {

  &__input {
    display: block;
    font-size: 18px;
    line-height: 21px;
    color: #626267;
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    padding: 12px 0;
    text-indent: 30px;

    &:focus {
      outline: none;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    }

    @media (max-width: 576px) {
      text-indent: 10px;
    }

  }

  &__label {
    display: block;
    position: relative;

    &__phone {
      display: none;
    }

    &__eye {
      width: 50px;
      right: 0;
      display: block;
      height: 100%;
      cursor: pointer;
      position: absolute;
      background: transparent;
      border: none;

      &::after {

        content: '';
        position: absolute;
        right: 15px;
        top: 15px;
        display: block;
        width: 23px;
        height: 16px;
        background: url("../../../images/landing/modalSignIn/eye.svg") no-repeat center;

      }

      &::before {
        content: '';
        position: absolute;
        right: 14px;
        top: 22px;
        display: inline-block;
        background: #626267;
        transform: rotate(-45deg);
        height: 2px;
        width: 25px;
        opacity: 0;
        transition: all 0.3s;
      }

      &.active {
        &::before {
          opacity: 1;
        }
      }

      span {
        display: none;
      }
    }

  }

  &__phone {
    margin: 0 auto 40px auto;
  }

  &__password {
    margin: 0 auto 20px auto;
  }

  &__questions {
  }

  &__button {
    background: #FF5773;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 37px;
    border: none;
    color: #fff;
    padding: 5px 0;
    min-width: 165px;
    text-align: center;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
    &:focus {
      outline: none;
      text-decoration: underline;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    }
  }

  &__passDescription {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    right: 0;
  }
}

.questionsSignIn {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 34px 0;

  @media (max-width: 576px) {
    flex-direction: column-reverse;
    row-gap: 10px;
  }


  &__remember {


    input, label {
      vertical-align: middle;
      cursor: pointer;
    }

    input {
      margin: 0 5px 0 0;
    }

    label {

      font-size: 14px;
      line-height: 16px;
      color: #626267;

    }

    input[type="checkbox"]:checked,
    input[type="checkbox"]:not(:checked) {



    }
  }

  &__reset {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #626267;
  }
}

.remember {
}
