.arrowUp {
  position: fixed;
  bottom: 6%;
  right: 6%;
  z-index: 20;

  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff5773;
  border-radius: 50%;
  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 576px) {
    width: 40px;
    height: 40px;
  }

  &__img {
    max-width: 50%;
    width: 50%;
    max-height: 50%;
    height: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
