.socialLinks {
  background: #F0F5FB;
  padding: 130px 0 130px 0;
  @media (max-width: 1200px) {
    padding: 30px 0 30px 0;
  }

  &__container {
  }

  &__boxLinks {
  }
}

.boxLinks {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;

  &__item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 992px) {
      width: 70px;
      height: 70px;
    }

    @media (max-width: 576px) {
      width: 40px;
      height: 40px;
    }
  }
}

.item {

  &__wrapper {
    max-width: 48px;
    max-height: 48px;

    @media (max-width: 992px) {
      overflow: hidden;
      max-width: 35px;
      max-height: 35px;
    }

    @media (max-width: 576px) {
      max-width: 20px;
      max-height: 20px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__whatsapp {
    background: #16D72A;
  }

  &__telegram {
    background: #59AEEB;
  }

  &__instagram {
    background: #D163C6;
  }

  &__arrowUp {
    background: #FF5773;
  }
}
