.teachersRoute {
  background: #F0F5FB;
  padding: 61px 0 60px 0;
  text-align: center;

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #626267;
    margin: 0 0 40px 0;
  }

  &__container {
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: space-around;
    grid-gap: 60px;

    @media (max-width: 767px) {
      grid-gap: 20px;
    }
  }

  &__column {
  }
}

.teachersRouteCol {

  &__img {
    border-radius: 50%;
    max-width: 179px;
    width: 179px;
    max-height: 179px;
    height: 179px;
    position: relative;
    overflow: hidden;
    margin: 0 0 15px 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #626267;
    margin: 0 0 7px 0;
  }

  &__subject {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FF5773;
  }
}
