.prices {
  background: #F0F5FB;
  padding: 20px 0 20px 0;

  &__container {
  }

  &__table {
    min-width: 100%;
    overflow: auto;
  }

  &__title {
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    line-height: 49px;
    color: #626267;
    margin-bottom: 56px;

    @media (max-width: 767px) {
      font-size: 28px;
      margin-bottom: 20px;
    }

    span {
      position: relative;
      display: inline-block;

      &::after {
        content: '';
        position: absolute;
        width: 200%;
        margin: 5px auto auto auto;
        height: 1px;
        display: block;
        background: #626267;

        left: 50%;
        transform: translateX(-50%);

        @media (max-width: 767px) {
          margin: 0 auto auto auto;
        }
      }
    }
  }

  &__table {
    @media (max-width: 767px) {
      width: 100%;
      overflow: auto;
    }
  }
}

.priceTable {

  &__top {
    @media (max-width: 767px) {
      width: 670px;
      overflow: auto;
    }
  }
}

.priceColumnBottom {

  &__content {
    display: grid;
    flex-direction: column;
    grid-row-gap: 8px;
  }

  &__column {

  }
}

.priceTableTop {

  &__content {
    display: grid;
    grid-template-columns: 27% 73%;
    margin: 0 0 8px 0;


    //@media (max-width: 1200px) {
    //  grid-template-columns: 221px 668px;
    //  justify-content: center;
    //}
    //
    //@media (max-width: 992px) {
    //  grid-template-columns: 221px 133px 133px;
    //}
    //
    //@media (max-width: 576px) {
    //  grid-template-columns: 50% 25% 25%;
    //  width: 100%;
    //}
  }

  &__column {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FF5773;

    span {
      display: inline-block;
    }
  }
}

.priceTableBottom {

  &__content {
    border-radius: 10px;
    background: #FFFFFF;
    display: grid;
    align-items: center;
    grid-template-columns: 27% 73%;
    grid-template-rows: 62px;
  }

  &__column {
    font-weight: normal;
    padding: 10px 0 10px 0;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #626267;
    position: relative;
    height: 100%;

    &:first-child {
      margin-left: 39px;
      text-align: left;
    }

    @media (max-width: 992px) {
      &:first-child {
        margin-left: 10px;
        text-align: left;
      }
    }

    @media (max-width: 576px) {
      &:first-child {
        margin-left: 15px;
        line-height: 20px;
        text-align: left;
      }
    }
  }

  &__title {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 26px;

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }
}

.tableBottom {

  &__content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 100%;
  }

  &__column {
    &:nth-child(1) {
      .tableBottom__text {
        &:before, &:after {
          background-color: #B48B3C;
        }
      }
    }
    &:nth-child(2) {
      .tableBottom__text {
        &:before, &:after {
          background-color: #544eff;
        }
      }
    }
    &:nth-child(3) {
      .tableBottom__text {
        &:before, &:after {
          background-color: #9800f2;
        }
      }
    }
    &:nth-child(4) {
      .tableBottom__text {
        &:before, &:after {
          background-color: #fd8b00;
        }
      }
    }

  }

  &__text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 0.8px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  &__greenCross {
    position: relative;

    span {
      display: inline-block;
      position: absolute;
      width: 15px;
      height: 3px;
      background: #04CC00;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:first-child {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__redMinus {
    position: relative;

    span {
      display: inline-block;
      position: absolute;
      width: 8px;
      height: 3px;
      background: #FF0000;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.topTableFirst {
  position: relative;
  padding: 8px 0 0 0;

  &__prices {
    padding: 16px;
    background-color: #fff;
    position: relative;

    &:first-child {
      border-radius: 10px 0 0 10px;
      background-color: #000;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 0.8px;
      background-color: #000;
      top: 0;
    }

    &:before {
      right: 12px;
    }

    &:after {
      left: 12px;
    }
  }

  &__oldPrice {
    text-decoration-line: line-through;
    color: #FF5773;
    margin-bottom: 5px;

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }

  &__currentPrice {
    color: #407BBF;
    font-weight: bold;
    font-size: 32px;
    line-height: 20px;

    @media (max-width: 992px) {
      font-size: 22px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;

    @media (max-width: 992px) {
      font-size: 22px;
    }
  }

  &__button {
    background: #B48B3C;
    box-sizing: border-box;
    margin: 0 12px;
    padding: 15px;
    border-radius: 10px;
    border: none;
  }

  &__wrapper {
    background: #B48B3C;
    box-sizing: border-box;
    position: relative;
    margin: 0 12px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    min-height: 61px;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 992px) {
      padding: 5px;
      border-radius: 10px;
      margin: 0 5px;
    }

    &:after {
      content: '';
      position: absolute;
      //width: 20px;
      //height: 20px;
      bottom: -13px;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #B48B3C;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  &__column {
    display: flex;
    flex-direction: column;

    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #626267;
    font-weight: normal;
    position: relative;

    &:first-child {
      .topTableFirst__prices {
        border-radius: 10px 0 0 10px;
      }
    }

    &:last-child {
      .topTableFirst__prices {
        border-radius: 0 10px 10px 0;
      }
    }

    &:nth-child(1) {
      .topTableFirst__button, .topTableFirst__wrapper {
        background-color: #B48B3C;
        &:after {
          border-top-color: #B48B3C;
        }
      }

      .topTableFirst__prices {
        &:before, &:after {
          background: #B48B3C;
        }
      }
    }
    &:nth-child(2) {
      .topTableFirst__button, .topTableFirst__wrapper {
        background-color: #6CA04A;
        &:after {
          border-top-color: #6CA04A;
        }
      }
      .topTableFirst__prices {
        &:before, &:after {
          background: #0083F5;
        }
      }
    }
    &:nth-child(3) {
      .topTableFirst__button, .topTableFirst__wrapper {
        background-color: #3EC1EB;
        &:after {
          border-top-color: #3EC1EB;
        }
      }
      .topTableFirst__prices {
        &:before, &:after {
          background: #544eff;
        }
      }
    }
    &:nth-child(4) {
      .topTableFirst__button, .topTableFirst__wrapper {
        background-color: #FD6CA3;
        &:after {
          border-top-color: #FD6CA3;
        }
      }
      .topTableFirst__prices {
        &:before, &:after {
          background: #FF8800;
        }
      }
    }
  }
}

.topSmallTable {

  &__content {
  }

  &__content2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

  &__column {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #626267;

    span {
      display: inline-block;
      margin: 0;
      font-size: 26px;
      line-height: 35px;
      color: #626267;
    }
  }
}

.topTableSecond {
  padding: 8px 0 0 0;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    top: 42px;
    left: calc(50% - 1px);
    position: absolute;
    height: 25px;
    width: 1px;
    background: #FF5773;
  }

  &:first-child {
    &::after {
      display: none;
      content: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    height: 200%;
    border: 1px solid #FF5773;
    top: 0;
    left: 50%;
    border-radius: 61px;
    background: transparent;
    //z-index: -1;
  }

  .theme {
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #626267;

    @media (max-width: 576px) {
      font-size: 18px;
    }

  }
}

.topSmallTable {

  &__column {
    span {
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }
}
