.prices {
  background: #F0F5FB;
  padding: 0 0 20px 0;

  &__container {
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #626267;
    margin-bottom: 56px;

    @media (max-width: 767px) {
      font-size: 28px;
      margin-bottom: 20px;
    }

    &::after {
      content: '';
      width: 90%;
      margin: 20px auto auto auto;
      height: 1px;
      display: block;
      background: #626267;

      @media (max-width: 767px) {
        margin: 0 auto auto auto;
      }
    }
  }

  &__table {
  }
}

.priceTable {

  &__top {
  }
}

.priceColumnBottom {

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__column {

  }
}

.priceTableTop {

  &__content {
    display: grid;
    grid-template-columns: 221px 668px 133px 133px;
    margin: 0 0 29px 0;


    @media (max-width: 1200px) {
      grid-template-columns: 221px 668px;
      justify-content: center;
    }

    @media (max-width: 992px) {
      grid-template-columns: 221px 133px 133px;
    }

    @media (max-width: 576px) {
      grid-template-columns: 50% 25% 25%;
      width: 100%;
    }
  }

  &__column {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FF5773;

    span {
      display: inline-block;
      margin: 0 0 27px 0;
    }

    &:nth-child(2) {
      @media (max-width: 992px) {
        display: none;
      }
    }

    &:nth-child(3), &:nth-child(4) {
      @media (max-width: 1200px) {
        display: none;
      }

      @media (max-width: 992px) {
        display: block;
      }
    }
  }
}

.priceTableBottom {

  &__content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
    background: #FFFFFF;
    display: grid;
    align-items: center;
    //column-gap: 10px;
    grid-template-columns: 221px 668px 133px 133px;
    grid-template-rows: 62px;

    @media (max-width: 1200px) {
      grid-template-columns: 221px 668px;
      justify-content: center;
    }

    @media (max-width: 992px) {
      grid-template-columns: 221px 133px 133px;
      //grid-template-columns: 50% 25% 25%;
      width: fit-content;
      margin: auto;
    }

    @media (max-width: 576px) {
      grid-template-columns: 50% 25% 25%;
      width: 100%;
      grid-template-rows: 50px;
    }
  }

  &__column {
    font-weight: normal;
    padding: 10px 0 10px 0;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #626267;
    position: relative;

    &:first-child {
      margin-left: 39px;
      text-align: left;
    }

    &:nth-child(2),  &:nth-child(3) {
      &::before, &::after {
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        background: #FF5773;
        content: '';
        position: absolute;
        display: inline-block;
        height: 51px;
      }
    }

    &:nth-child(2) {
      &::before {
        left: 0;
      }

      &::after {
        right: 5px;
      }
    }

    &:nth-child(3) {
      &::before {
        left: 5px;
      }

      &::after {
        right: 5px;
      }
    }

    &:nth-child(4) {
      &::before {
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        background: #FF5773;
        content: '';
        position: absolute;
        display: inline-block;
        height: 51px;
      }

      &::before {
        left: 5px;
      }
    }

    &:nth-child(3), &:nth-child(4) {
      @media (max-width: 1200px) {
        display: none;
      }

      @media (max-width: 992px) {
        display: block;
      }
    }

    &:nth-child(2) {
      @media (max-width: 992px) {
        display: none;
      }
    }

    @media (max-width: 576px) {
      font-size: 14px;
      &:before, &:after {
        content: none !important;
      }

      &:first-child {
        margin-left: 15px;
        line-height: 20px;
        text-align: left;
      }
    }
  }
}

.tableBottom {

  &__content {
    display: flex;
    justify-content: space-around;
  }

  &__column {
  }

  &__greenCross {
    position: relative;

    span {
      display: inline-block;
      position: absolute;
      width: 15px;
      height: 3px;
      background: #04CC00;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:first-child {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__redMinus {
    position: relative;

    span {
      display: inline-block;
      position: absolute;
      width: 8px;
      height: 3px;
      background: #FF0000;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.topTableFirst {
  position: relative;
  overflow: hidden;
  padding: 8px 0 0 0;

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: calc(100% - 6px);
    height: 200%;
    border: 1px solid #FF5773;
    top: 0;
    left: 0;
    border-radius: 61px;
    background: transparent;
    //z-index: -1;
  }

  &__content {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
  }

  &__column {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #626267;
    font-weight: normal;
    position: relative;

    &__bg {
      background: url('../../../../images/landing/prices/arrow.png') center 55% no-repeat;
    }

    &::before {
      content: '';
      top: 33px;
      left: calc(50% - 1px);
      position: absolute;
      height: 25px;
      width: 1px;
      background: #FF5773;
    }

    &:first-child {
      &::before {
        display: none;
        content: none;
      }
    }
  }
}

.topSmallTable {

  &__content {
  }

  &__content2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

  &__column {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #626267;

    span {
      display: inline-block;
      margin: 0;
    }
  }
}

.topTableSecond {
  padding: 8px 0 0 0;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    top: 42px;
    left: calc(50% - 1px);
    position: absolute;
    height: 25px;
    width: 1px;
    background: #FF5773;
  }

  &:first-child {
    &::after {
      display: none;
      content: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    height: 200%;
    border: 1px solid #FF5773;
    top: 0;
    left: 50%;
    border-radius: 61px;
    background: transparent;
    //z-index: -1;
  }

  .theme {
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #626267;

    @media (max-width: 576px) {
      font-size: 18px;
    }

  }
}

.topSmallTable {

  &__content {
  }

  &__column {
    span {
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }
}
