.courses {

  color: #fff;
  background: #F0F5FB;


  @media (max-width: 576px) {
    margin: 20px 0 0 0;
  }

  &__header {
    background: #407BBF;
    padding: 65px 0 54px 0;
    @media (max-width: 767px) {
      padding: 40px 0 40px 0;
    }
  }

  &__title {
    margin: 0 0 50px 0;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 30px;
      margin: 0 0 30px 0;
    }
  }

  &__tabs {
  }

  &__bottom {
    padding: 123px 0 107px 0;
    background: #F0F5FB;

    position: relative;

    @media (max-width: 576px) {
      padding: 40px 0 40px 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      height: 2px;
      width: 55%;
      background: #407BBF;
    }
  }
}

.bottom {

  &__container {
  }

  &__content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 256px);
    column-gap: 50px;
    row-gap: 50px;
  }

  &__column {
    flex: 0 1 256px;
  }

  &__item {
    padding: 0 0 20px 0;
    color: #626267;
    background: #fff;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &_img {
      width: 256px;
      height: 256px;
      margin: 0 0 20px 0;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &_mark {
    }

    &_price {
      display: inline-flex;
      justify-content: center;
      align-items: baseline;
      min-width: 70%;
      margin: 0 0 19px 0;
    }

    &_button {
      background: #FF5773;
      border-radius: 4px;
      color: #fff;
      text-align: center;
      min-width: 65%;
      font-size: 18px;
      line-height: 26px;
      border: none;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}

.item {

  &_mark {
  }

  &_price {
    font-size: 24px;
    line-height: 28px;
  }

  &_button {
  }
}



.item_price {

  &__current {
  }

  &__old {
    font-size: 14px;
    color: #626267;
    text-decoration: line-through;
  }
}

.unselectedTab {
  display: none !important;
}