.courses {
  color: #fff;
  background: #fff;
  padding-top: 60px;


  margin: -1px 0 0 0;


  &__header {
    background: #407BBF;
    padding: 22px 10px;
    @media (max-width: 767px) {
      padding: 40px 0 40px 0;
    }
  }

  &__title {
    margin: 0 0 17px 0;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 30px;
      margin: 0 0 30px 0;
    }
  }

  &__tabs {
  }

  &__bottom {
    padding: 123px 0 107px 0;
    //background: #F0F5FB;
    background: #F0F5FB url("../../../../images/general/courses/bg-courses.svg") center center;
    background-size: contain;


    position: relative;

    @media (max-width: 576px) {
      padding: 40px 0 40px 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      height: 2px;
      width: 100%;
      background: #407BBF;
    }
  }
}

.unselectedTab {
  display: none !important;
}
