.rateRow {

  &:first-child {

    td {
      .cellWrapper {
        margin-top: 18px;
      }
    }

  }

  &:last-child {
    td {
      .cellWrapper {
        margin-bottom: 18px;
      }
    }
  }

  td {
    &:first-child {

      .cellWrapper {
        border-bottom-left-radius: 68px;
        border-top-left-radius: 68px;
        color: #626267;
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
      }


    }

    &:last-child {

      .cellWrapper {
        border-bottom-right-radius: 68px;
        border-top-right-radius: 68px;
        margin-right: 19px;
      }
    }

    .cellWrapper {
      margin-left: -1px;
      margin-right: -1px;
      background: #FFFFFF;
      overflow: hidden;

      min-height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      font-size: 24px;
      color: #626267;
      margin-bottom: 10px;


      @media (max-width: 992px) {
        font-size: 18px;
        padding: 10px;

        &:first-child {
          padding: 0 0 0 15px;
          font-size: 18px;
        }

        &:last-child {
          font-size: 15px;
          padding: 10px 0 10px 0;
        }
      }

      @media (max-width: 767px) {
        font-size: 12px;

        &:first-child {
          padding: 0 0 0 15px;
          font-size: 12px;
        }

        &:last-child {
          font-size: 12px;
        }
      }

      @media (max-width: 576px) {
        padding: 5px;

        &:first-child {
          padding: 0 0 0 10px;
        }
      }


    }

  }

  &__number {
  }

  &__name {
  }

  &__class {
    @media (max-width: 576px) {
      display: none;
    }
  }

  &__school {
  }

  &__coins {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FF5773;
  }
}

.coins {

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }

  &__image {
    background: #FF5773 url("../../../../images/landing/educoin/eduCoin.svg") center center no-repeat;
    background-size: 17px;
    //background-position: center;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    @media (max-width: 767px) {
      width: 30px;
      height: 30px;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__text {
    color: #FF5773;
    font-size: 22px;
  }
}


.circle {

  &__gold {
    font-weight: 900;
    color: #FFD749;
    border: 7px solid #FFD749;
    @media (max-width: 767px) {
      border: 2px solid #FFD749;
    }
    @media (max-width: 576px) {
      border: none;
    }
  }

  &__silver {
    font-weight: 900;
    color: #CECECE;
    border: 7px solid #CECECE;
    @media (max-width: 767px) {
      border: 2px solid #CECECE;
    }
    @media (max-width: 576px) {
      border: none;
    }
  }

  &__bronze {
    font-weight: 900;
    color: #A0744A;
    border: 7px solid #A0744A;
    @media (max-width: 767px) {
      border: 2px solid #A0744A;
    }
    @media (max-width: 576px) {
      border: none;
    }
  }
}
