.bottomTeachPage {

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
  }

  &__content {
    margin: 0 0 32px 0;
  }

  &__column {
    padding: 21px 25px;
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 0 0 10px 0;

    @media (max-width: 767px) {
      padding: 10px 10px;
    }
  }

  &__comment {
    display: flex;
    align-items: center;

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__img {
    position: relative;
    min-width: 84px;
    max-width: 84px;
    height: 84px;
    max-height: 84px;
    margin-right: 35px;
    border-radius: 50%;
    overflow: hidden;

    @media (max-width: 576px) {
      margin-right: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__about {
  }

  &__name {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 3px 0;
    @media (max-width: 576px) {
      text-align: center;
    }
  }

  &__stars {
    @media (max-width: 576px) {
      text-align: center;
    }
    .item_mark__stars {
      span {
        transform: translateX(-5px);
      }
    }
  }

  &__starsValue {
    display: none;
  }

  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    word-break: break-all;
  }

  &__addComment {
  }
}

.addComment {
  padding: 21px 0 21px 25px;
  display: grid;
  align-items: center;

  grid-template-columns: 84px 1fr;
  grid-template-rows: 117px;

  @media (max-width: 992px) {
    padding: 21px 0 21px 0;
  }

  @media (max-width: 576px) {
    grid-template-columns: auto ;
    row-gap: 20px;
    grid-template-rows: auto  117px;
  }

  &__inputWrapper {
    position: relative;
    height: 100%;
    padding: 0 0 0 20px;
    background: url("../../../../images/general/teacher/triangle.png") left center no-repeat;

    @media (max-width: 576px) {
      padding: 20px 0 0 0;
      background: none;
    }

    &::before {
      content: '';
      top: 50%;
      position: absolute;
      width: 10px;
      left: 10px;
      transform: translateY(-50%);
      height: 15px;
      background: #FFF;
      clip-path: polygon(100% 0, 0 50%, 100% 100%);

      @media (max-width: 576px) {
        content: none;
      }
    }

    @media (max-width: 576px) {
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 2px;
        width: 20px;
        height: 20px;
        transform: rotate(90deg) translateY(50%);
        background: url("../../../../images/general/teacher/triangle.png") top center no-repeat;
      }
    }
  }

  &__input {
    background: #FFFFFF;
    z-index: 2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 20px;
    min-width: 100%;
    min-height: 100%;
    padding: 17px 23px;
    box-sizing: border-box;
    resize: none;
    font-size: 18px;
    line-height: 21px;
    transition: all .3s;
    font-family: sans-serif;


    &::placeholder {
      font-family: sans-serif;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #BDBDBD;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }

  &__buttons {
    margin: 0 10px 10px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background: #fff;
  }

  &__btn {
    background: #FF5773;
    border-radius: 26px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    min-width: 92px;
    padding: 5px;
    border: none;
    color: #FFFFFF;
  }

  &__image {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    @media (max-width: 576px) {
      margin: auto;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .rating__stars {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: inline-block;
    margin: 0 7px 0 0;
    cursor: pointer;

    input {
      visibility: hidden;
      max-width: 0;
      max-height: 0;
      opacity: 0;
      margin: -4px;
    }

    >span {
      display: inline-block;
      position: relative;
      width: 20px;
      font-size: 23px;

      &:before {
        color: #bdbdbd;
        transition: color .3s ease;
        content: "\2605";
        position: absolute;
      }
      &:hover, &.active {
        &:before {
          color: #FF5773;
          content: "\2605";
          position: absolute;
        }
        ~ {
          span {
            &:before {
              color: #FF5773;
              content: "\2605";
              position: absolute;
            }
          }
        }
      }
    }
  }

}