.footer {
  background: #252841;
  color: #fff;
  padding: 100px 0 0 0;
  z-index: 2;

  @media (max-width: 576px) {
    padding: 20px 0 0 0;
  }

  &__container {
  }

  &__content {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    row-gap: 30px;
    margin: 0 0 50px 0;

    @media (max-width: 767px) {
      grid-template-columns: repeat(3, 1fr);
      margin: 0 0 25px 0;
    }

    @media (max-width: 400px) {
      margin: 0 0 10px 0;
      column-gap: 20px;
    }
  }

  &__column {
  }

  &__rights {
    border-top: 1px solid #626267;
    font-size: 18px;
    text-align: center;
  }
}

.columnFoot {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-child {
    display: block;
  }


  @media (max-width: 767px) {
    &:first-child {
      grid-column: 1 / 4;
    }


    &:nth-child(2) {
      grid-row: 2;
    }
    &:nth-child(3) {
      grid-row: 2;
    }
    &:nth-child(4) {
      grid-row: 2;
    }
  }


  @media (max-width: 400px) {
    &:first-child {
      grid-column: 1 / 4;
    }


    &:nth-child(2) {
      grid-row: 2;
    }
    &:nth-child(3) {
      grid-row: 2;
    }
    &:nth-child(4) {
      grid-row: 3;
    }
    &:nth-child(5) {
      grid-row: 3;
    }
  }

  &__top {
    @media (max-width: 576px) {
      text-align: center;
    }
  }

  &__content {
    &:hover {
      .columnFoot__title {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__logo {

    @media (max-width: 576px) {
      display: inline-block;
    }

  }

  &__confidentiality {
    font-size: 18px;
    text-align: left;

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  &__title {
    margin: 0 0 17px 0;
    position: relative;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;

    &:after {
      margin: 13px 0 0 0;
      content: "";
      display: block;
      width: 50%;
      background: #FF5773;
      height: 4px;
      transition: all .3s;
    }

    &__none {
      &:after {
        background: transparent;
      }
    }
  }

  &__list {
  }

  &__link {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 17px 0;

    a:hover {
      text-decoration: underline;
    }
  }

  &__socMedia {
    a {
      display: inline-block;
      width: 19px;
      height: 19px;
      margin-right: 6px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
