.progress {
  text-align: center;
  color: #626267;
  background: #fff;
  padding: 45px 0 60px 0;

  @media (max-width: 1200px) {
    padding: 20px 0 75px 0;
  }

  .slick-arrow {
    display: none !important;
  }

  .colorRed {
    color: #FF5773;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 57px 0;

    @media (max-width: 767px) {
      font-size: 30px;
    }

    @media (max-width: 576px) {
      font-size: 25px ;
    }
  }

  &__slide {
    width: 150px;
    max-width: 150px;
    height: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

