.myCourses {
  padding: 90px 0 46px 0;

  &__goToLive {
    padding: 12px 40px 12px 85px;
    border-radius: 30px;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
    color: #FFFFFF;
    display: inline-block;
    background: #FF5773 url("../../../../images/general/icons/video.svg") no-repeat 35px center;
    background-size: 40px;
  }

  @media (max-width: 767px) {
    padding: 20px 0 20px 0;
  }

  &__top {
    margin: 0 0 45px 0;
  }

  &__wrapper {

  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 176px);

    grid-gap: 10px;

    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &__column {
    min-height: 243px;
  }



  &__addSubject {
    min-height: 100%;
    background: #fff;
    border: 5px solid #FF5773;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #626267;
    margin: 0 0 20px 0;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__bottom {
  }

  &__secondTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #626267;
  }
}
.myCoursesAdd {
  display: block;
  height: 100%;
  position: relative;

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -33px);
    text-align: center;
  }

  &__plus {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid #FF5773;
    margin: 0 auto 7px auto;
    position: relative;

    span {
      display: inline-block;
      width: 50%;
      height: 4px;
      background: #FF5773;
      position: absolute;
      top: 50%;
      left: 50%;

      &:first-child {
        transform: translate(-50%, -50%);
      }

      &:last-child {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__btn {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FF5773;
  }
}
.myCoursesBottom {

  &__topWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 576px) {
      justify-content: space-evenly;
    }
  }

  &__content {
    display: grid;
    row-gap: 16px;
  }

  &__column {
    min-height: 114px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    background: #FFF;
    display: grid;
    padding: 0 30px 0 20px;
    grid-template-columns: auto minmax(160px, 30%);
    color: #626267;

    @media (max-width: 767px) {
      padding: 0 20px 0 10px;
    }

    @media (max-width: 576px) {
      grid-template-columns: auto;
      row-gap: 10px;
      padding: 10px 20px 10px 10px;
    }
  }

  &__img {
    max-width: 100px;
    max-height: 100px;
    min-width: 60px;
    min-height: 60px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
  }

  &__date {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      background: url("../../../../images/login/myCourses/play.png") left center no-repeat;
      padding: 0 0 0 21px;
    }
  }

  &__percent {
    text-align: center;
    font-size: 13px;
    line-height: 12px;
    color: #626267;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../../images/login/myCourses/circlePercent.png") center no-repeat;
    background-size: contain;

    @media (max-width: 576px) {
      font-size: 11px;
      width: 30px;
      height: 30px;
    }
  }
}
