.sideboard {
  min-width: 270px;
  margin: 0 12px 0 0;

  @media (max-width: 767px) {
    margin:0 0 20px 0;
  }

  &__wrapper {
    @media (max-width: 767px) {
      max-width: 500px;
      margin: auto;
    }
  }
}

.student {

  &__list {
    display: block;
    width: 100%;
    max-height: 720px;
    overflow-y: auto;
    padding: 5px 11px 0 5px;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 767px) {
      max-height: 230px;
    }


    &:root {
      --fc-daygrid-event-dot-width: 8px;
    }
    &::-webkit-scrollbar {
      position: relative;
      right: 10px;
      width: 7px;
      height: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #FF5773;
      border-radius: 45px;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: #DADADA;
      border-radius: 45px;
    }
  }

  &__item {
  }
}

.studentItem {

  &.current {
    .studentItem__link {
      background: #ff5773;
    }

    .studentItem__text {
      color: #fff;
    }
  }

  &__link {
    transition: all .3s ease-in;
    background: #fff;
    padding: 5px 10px 5px 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 49px;
    margin: 0 0 7px 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  &__img {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    margin-right: 14px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    @media (max-width: 767px) {
      margin-right: 5px;
    }
  }

  &__text {
    transition: all .3s ease-in;
    font-size: 18px;
    line-height: 21px;
    color: #626267;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}
