.teacherPage {
  padding: 85px 0 30px 0;
  color: #626267;
  background: #F0F5FB;

  @media (max-width: 992px) {
    padding: 30px 0 30px 0;
  }

  &__top {
  }

  &__middle {
  }

  &__bottom {
  }
}

.topTeachPage {
  margin-bottom: 60px;

  @media (max-width: 767px) {
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__column {
    &:first-child {
      margin: 0 40px 0 0 ;

      @media (max-width: 992px) {
        display: flex;
        justify-content: space-between;
        margin: 0;
      }

      @media (max-width: 576px) {
        flex-direction: column;
      }
    }

    &:last-child {
      flex-basis: 100%;
    }
  }

  &__profile {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 42px 0 37px 0;
    margin: auto auto 30px auto;
    width: 271px;

    display: inline-grid;
    justify-content: center;
    text-align: center;

    @media (max-width: 576px) {
      width: 90%;
    }
  }

  &__img {
    max-width: 176px;
    width: 176px;
    max-height: 176px;
    height: 176px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    width: 100%;
    overflow: hidden;
  }

  &__subject {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin: 0 0 10px 0;
    width: 100%;
    overflow: hidden;
    }

  &__socLinks {
    display: inline-block;
    text-align: center;
  }

  &__socLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #FF5773;
    border-radius: 50%;

    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 12px;
      height: 12px;
    }
  }

  &__wrapperVideo {
    width: 210px;
    height: 178px;
    background: #FFF;
    border-radius: 20px;
    margin: auto;
    position: relative;

    @media (max-width: 992px) {
      display: inline-block;
    }
  }

  &__video {
    display: inline-block;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 85%;
    height: 85%;
    border-radius: 20px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url("../../../images/general/teacher/play-icon.png") center center;
      width: 39px;
      height: 39px;
      z-index: 2;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__description {
  }
}

.teacherDescr {

  &__top {
    margin-bottom: 77px;

    @media (max-width: 992px) {
      margin-bottom: 25px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 5px;

    @media (max-width: 992px) {
      margin: 0 0 5px 0;
      font-size: 30px;
    }
  }

  &__qualification {
    margin: 2px 0 20px 0;

    @media (max-width: 992px) {
      font-size: 20px;
    }
  }

  &__wrapper {
  }

  &__students, &__stars, &__reviews, &__aboutText {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }

  &__students {
    margin: 10px 100px auto auto;
    display: inline-block;
  }

  &__stars {
    display: inline-block !important;
    min-width: auto;
    color: #FF5773;
    line-height: initial;

    .item_mark__value {
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__reviews {
  }

  &__about {
  }

  &__aboutTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    @media (max-width: 767px) {
      font-size: 19px;
    }
  }

  &__aboutText {
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

.middleTeachPage {
  margin-bottom: 120px;

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 53px;
  }

  &__content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 256px);
    column-gap: 50px;
    row-gap: 50px;
  }

  &__column {
  }
}
