.main {
  padding: 60px 0 155px 0;
  background: #407BBF;

  @media (max-width: 992px) {
    padding: 20px 0 40px 0;
  }

  @media (max-width: 576px) {
    padding: 20px 0 20px 0;
    margin: 60px 0 0 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    .slick-slider {

      .slick-slide {
        outline: none;

        div {
          &:focus {
            outline: none;
          }
        }
      }

      .slick-dots {
        transform: translate(270px, -250px) rotate(90deg);

        @media (max-width: 1200px) {
          transform: translate(240px, -250px) rotate(90deg);
        }

        @media (max-width: 576px) {
          transform: translate(0) rotate(0);
          padding: 0 0 20px 0;
          position: relative;
        }


        li {
          button {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid #FF5773;

            &::before {
              content: '';
            }
          }
        }

        li.slick-active {
          button {
            background: #FF5773;
          }
        }
      }

    }
  }

  &__column {

    &:last-child {
      padding: 0 30px 0 0;

      @media (max-width: 1200px) {
        padding: 0;
      }
    }
  }
}

.body {
  margin: 0 0 30px 0;
  padding: 0 10px 0 10px;

  &__title {
    font-size: 48px;
    line-height: 65px;
    margin: 0 0 15px 0;
    @media (max-width: 992px) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 55px 0;
    @media (max-width: 992px) {
      font-size: 16px;
    }

    @media (max-width: 576px) {
      margin: 0 0 20px 0;
    }
  }

  &__icon {
    text-align: left;

    @media (max-width: 576px) {
      text-align: center;
    }

    &__button {
      background: #FF5773;
      color: #fff;
      padding: 9px 65px;
      border: none;
      font-size: 24px;
      transition: all .3s;
      border-radius: 23.5px;

      span {
        display: inline-block;
        transition: all .3s;
        position: relative;



        &::after {
          content: "";
          transition: all .3s;
          position: absolute;
          bottom: -3px;
          width: 0;
          height: 2px;
          left: 50%;
          transform: translateX(-50%);
          background: #FFF;
        }
      }

      &:hover {

        span {
          background: #f81a3b;

          &::after {
            width: 100%;
          }
        }
      }

      &:focus {
        outline: none;
        background: #ff0228;
      }

      @media (max-width: 992px) {
        padding: 9px 40px;
        font-size: 16px;
      }
    }
  }
}

.image {
  width: 500px;
  min-height: 300px;

  @media (max-width: 576px) {
    width: 90%;
  }

  &__wrapper {

    img {
      max-width: 100%;
    }
  }
}