.HTML-flipBook {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  position: relative;
  max-width: 710px;
  margin: auto;
  box-sizing: border-box;

  &__controls {
    margin-top: 25px;
    background: #FFFFFF;
    padding: 7px 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 32px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__wrapper {
    margin: 0 10px;
    display: block;
    width: 100%;
    padding: 42px 0;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    max-height: 360px;
    overflow: hidden;

    @media (max-width: 767px) {
      padding: 12px 14px;
    }

    @media (max-width: 576px) {
      padding: 12px 0;
    }
  }
}

.HTML-control {
  display: inline-block;
  font-size: 0;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;

  &:focus {
    outline-color: #FF5773;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &__toFirst {
    background: url("../../../images/general/icons/arrow-short-icon.svg") 20% center no-repeat,
    url("../../../images/general/icons/arrow-short-icon.svg") 70% center no-repeat;
  }

  &__toLast {
    transform: rotate(180deg);
    background: url("../../../images/general/icons/arrow-short-icon.svg") 20% center no-repeat,
    url("../../../images/general/icons/arrow-short-icon.svg") 70% center no-repeat;
  }

  &__prev {
    background: url("../../../images/general/icons/arrow-short-icon.svg") center no-repeat;
  }

  &__next {
    transform: rotate(180deg);
    background: url("../../../images/general/icons/arrow-short-icon.svg") center no-repeat;
  }

  &__counter {
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;
    color: #FF5773;
  }
}

.stf__parent {
  background: #fff;
  margin: auto;
  max-height: inherit;
}

.demoPage {
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #626267;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;

  &__block {
    height: 99px;
    background: #C488FF;
    border-radius: 20px;
  }

  &__color {
    background: #C6FF99;
    height: 170px;
  }

  &:nth-child(2n+1) {
    padding: 0 27px 0 10px;
  }

  &:nth-child(2n) {
    padding: 0 0 0 27px;
  }
}

@media (max-width: 700px) {

  .demoPage:nth-child(2n+1) {
    padding: 0 5px 0 0;
  }

  .demoPage:nth-child(2n) {
    padding: 0 0 0 5px;
  }

  .stf__parent::before {
    content: none;
  }
}