.rating {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(114, 178, 255, 0) 90%), #D0E6FF;
  padding: 61px 0 50px 0;

  &__container {
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #626267;
    margin: 0 0 2px 0;

    @media (max-width: 767px) {
      margin: 0 0 25px 0;
      font-size: 24px;
    }

    @media (max-width: 576px) {
      font-size: 18px;
    }
  }

  &__tabs {
    margin: 0 0 25px 0;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    //border-collapse: separate;
    //border-spacing: 0 1em;
  }

  &__showMore {
  }
}

.rateTable {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FF5773;
  }

  th {
    padding: 20px 0 20px 0;
    font-size: 24px;
    line-height: 28px;
    color: #626267;

    @media (max-width: 992px) {
      font-size: 16px;
    }

    @media (max-width: 767px) {
      padding: 10px;
    }

  }

  &__title {
  }

  &__head {
    display: block !important;

    tr {
      display: table;
      margin-right: 10px;
      width: 100% !important;
    }
  }

  &__body {
    display: block !important;
    max-height: 738px !important;
    overflow: auto !important;

    tr {
      display: table;
      margin-right: 10px;
      width: 100% !important;
    }
  }

  &__head, &__body {
    display:table;
    width:100%;
  }
}

.rateTitle {

  th {
    text-align: left;
    font-weight: normal;

    border-bottom: 1px solid #FF3870;

    &:last-child {
      text-align: center;
    }
  }

  &__cell {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: #626267;
  }

  &__none {
    width: 86px;
  }

  &__schoolboy {
  }

  &__class {
    @media (max-width: 576px) {
      display: none;
    }
  }

  &__school {
  }

  &__coins {
  }
}

.rate {
  &__wrapper {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 28px;
      font-weight: 900;

    @media (max-width: 767px) {
      width: 30px;
      height: 30px;
      font-size: 12px;
    }

    @media (max-width: 576px) {
      width: auto;
      height: auto;
    }
  }
}
