.chat {
  padding: 75px 0 102px 0;

  @media (max-width: 576px) {
    padding: 30px 0 30px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__column {
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;

    &:first-child {
      padding: 31px 0 0 0;
      flex-basis: 39%;
    }

    &:last-child {
      padding: 11px 0 19px 0;
      flex-basis: 59%;
    }

    @media (max-width: 767px) {
      &:first-child, &:last-child {
        flex-basis: 100%;
        margin-bottom: 20px;
      }
    }
  }

  &__people {
  }

  &__display {
  }
}

.chatPeople {

  &__searchWrapper {
    position: relative;
    padding: 0 0 10px 0;
  }

  &__search {
    display: block;
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    border: none;
    padding: 6px 0;
    font-weight: normal;
    font-size: 12px;
    color: #696969;
    text-indent: 10px;
    line-height: 16px;
    width: 80%;
    margin: auto;

    &::placeholder {
      color: #BDBDBD;
    }
  }

  &__searchButton {
    position: absolute;
    top: 50%;
    transform: translateY(-65%);
    right: 10%;

    width: 30px;
    height: 28px;
    border: none;
    background: transparent url("../../../../images/login/chat/icon-search.png") center no-repeat;
  }

  &__row {
    height: 390px;
    overflow: auto;
    margin: 0 20px 20px 0;

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #BDBDBD;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #FF3870;
      border-radius: 3px;
    }

    @media (max-width: 576px) {
      margin: 0 8px 15px 0;
      max-height: 200px;
    }

  }

  &__box {
    padding: 10px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all .3s;

    &.current {
      background: #F5F5F5;
    }

    @media (max-width: 576px) {
      padding: 5px 10px;
    }
  }

  &__wrapper {
    width: 100%;
  }

  &__human {
    display: flex;
    align-items: center;
  }

  &__img {
    min-width: 44px;
    max-width: 44px;
    min-height: 44px;
    max-height: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 7px 0 0;
    position: relative;

    img, div {
      width: 100%;
      height: 100%;
    }
  }

  &__description {
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #626267;

    @media (max-width: 576px) {
      font-size: 13px;
    }
  }

  &__subject {
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FF5773;
  }

  &__messages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    min-width: 20px;
    padding: 0 5px 0 5px;
    background: #FF5773;
    border-radius: 50%;
    box-sizing: border-box;

    span {
      color: #FFF;
    }

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  &__viewed {
    width: 20px;
    height: 20px;
    background: #FF3870;
    margin-left: auto;
    border-radius: 50%;
  }
}

.chatDisplay {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;

  &__description {
    text-align: center;
    padding: 0 0 12px 0;
    border-bottom: 0.5px solid #BDBDBD;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #626267;
    margin-bottom: 4px;
  }

  &__status {
    position: relative;
    display: inline-block;

    span {
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: #626267
    }
  }

  &__activeDot, &__unActiveDot {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: -10px;
  }

  &__activeDot {
    background: #FF5773;
  }

  &__unActiveDot {
    background: #000;
  }

  &__chat {
    width: 99%;
  }

  &__formWrapper {
    position: relative;
    width: 95%;
    margin: auto;
  }

  &__form {
    padding: 10px 0 0 0;
    width: 100%;
  }

  &__input {
    display: block;
    text-indent: 10px;
    font-size: 15px;
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    min-height: 44px;
    box-sizing: border-box;
    border: none;
    width: 100% ;
    margin: auto;
    transition: all .3s;

    &::placeholder {
      color: #BDBDBD;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }

  &__file {
    position: absolute;
    top: 0;
    right: 85px;

    border: none;
    width: 50px;
    height: 100%;
    font-size: 0;
    background: transparent url("../../../../images/login/chat/add-image.png") center no-repeat;
    transition: all .3s;
    cursor: pointer;

    &::-webkit-file-upload-button {
      visibility: hidden;
    }


    &:focus {
      outline: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;

    min-height: 100%;
    background: #FF5773;
    border: 2px solid #FF5773;
    box-sizing: border-box;
    border-radius: 0 22.5px 22.5px 0;
    text-align: left;
    //padding: 0 0 0 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    //width: 85px;

    transition: all .3s;
    &:focus {
      outline: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }
}

.chatBigImg {

  &__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0,0,0,0.3);
    cursor: zoom-out;
  }

  &__img {
    position: absolute;
    max-width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.chatMsgBox {
  display: flex;
  flex-direction: column;
  height: 314px;
  overflow: auto;

  padding: 20px;
  box-sizing: border-box;

  @media (max-width: 576px) {
    padding: 8px;
  }

  &::-webkit-scrollbar {
    position: relative;
    right: 10px;
    width: 3px;
    height: 3px;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: #BDBDBD;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #FF3870;
    border-radius: 3px;
  }

  &__wrapper {
    display: inline-block;
    position: relative;
    border: 1px solid #FF5773;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 0 0 15px 0;

    @media (max-width: 576px) {
      border-radius: 20px;
    }
  }

  &__message {
    padding: 0 15px 0 0;

    &:last-child {
      margin-bottom: 10px;
    }
  }

  &__text {
    display: inline-block;
    padding: 6px 15px;
    border-radius: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FF5773;
    background: #FFFFFF;
    box-sizing: border-box;

    span {
      display: inline-block;
    }

    @media (max-width: 576px) {
      font-size: 13px;
      padding: 3px 7.5px;
    }
  }

  &__time {
    font-size: 10px;
    line-height: 10px;
    color: #FF5773;
    position: absolute;
    bottom: -12px;
    right: 12px;
  }

  &__img {
    display: inline-block;
    max-width: 100%;

    img {
      cursor: zoom-in;
      width: 100%;
      height: 100%;
    }
  }

  &__ownMessage {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 15px;

    .chatMsgBox__wrapper {
      background: #FF5773;

      .chatMsgBox__text {
        background: #FF5773;
        color: #FFFFFF;
      }

      .chatMsgBox__time {
        left: 10px;
      }
    }
  }
}
