.lesson {
  padding: 110px 0;
  font-size: 13px;
  color: #626267;

  @media (max-width: 767px) {
    padding: 60px 0;
  }

  &__container {
  }

  &__content {
    display: grid;
    grid-template-columns: 59% calc(41% - 21px);
    justify-content: space-between;
    box-sizing: border-box;
    grid-gap: 21px;
    margin: 0 0 48px 0;

    @media (max-width: 1200px) {
      grid-template-columns: 100%;
    }
  }

  &__column {
  }

  &__playerWrapper {
    position: relative;
    margin: 0 0 20px 0;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    overflow: hidden;
  }
}

.lesson-chat {
  padding: 27px 12px 12px 12px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  min-height: 100%;

  &__box {
    max-height: 400px;
    margin: 0 0 13px 0;
    overflow: auto;

    &::-webkit-scrollbar-track-piece {
      background-color: #BDBDBD;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #FF3870;
      border-radius: 3px;
    }

    &::-webkit-scrollbar {
      position: relative;
      right: 10px;
      width: 3px;
      height: 3px;
    }

    &:root{
      --fc-daygrid-event-dot-width: 8px;
    }

    @media (max-width: 1200px) {
      max-height: 190px;
    }

  }

  &__msg {

    span {
      &:first-child {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #FF5773;
        margin: 0 5px 0 0;
      }
    }
  }

  &__add {
    position: relative;
  }

  &__input {
    background: #FFFFFF;
    border: 1px solid #FF5773;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 31px;
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-4px, -52.5%);
    background: #FF5773;
    color: #FFFFFF;
    border: none;
    min-width: 73px;
    padding: 2px 10px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.50);
    transition: all .3s;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.50);
    }
  }

  &__input, &__button {
    font-weight: normal;
    font-size: 14px;
    border-radius: 13px;
    line-height: 19px;
  }
}

.lesson-social {
  display: flex;
  justify-content: space-between;

  @media (max-width: 576px) {
    flex-direction: column;
  }

  &__teacher {
    display: flex;
    align-items: center;

    @media (max-width: 576px) {
      margin: 0 0 20px 0;
    }
  }

  &__img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 15px 0 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #626267;
  }

  &__review {
    display: flex;

    @media (max-width: 1200px) {
      display: inline-flex;
      align-items: center;
    }
  }

  &__item {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 11px 16px;
    &:not(:last-child) {
      margin-right: 12px;
    }

    @media (max-width: 767px) {

      padding: 5px;
      &:not(:last-child) {
        margin-right: 5px;
      }

    }
  }

  &__icon {
    width: 24px;
    height: 22px;
    margin: auto auto 5px auto ;

    @media (max-width: 1200px) {
      margin: auto 5px auto auto;
    }

    @media (max-width: 767px) {

      width: 18px;
      height: 18px;

    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__number {
    font-size: 14px;
    line-height: 19px;
    color: #FF5773;
  }

  &__icon, &__number {
    @media (max-width: 1200px) {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.lesson-otherLessons {

  &__title {
  }

  &__slider {
    text-align: center;
    padding: 0 20px;


    .slick-next {
      width: 40px;
      height: 50px;
      z-index: 10;
      &::before {
        content: '';
      }
      &::after {
        content: '';
        position: absolute;
        //right: -30px;
        top: 15px;
        border: 10px solid transparent;
        border-left: 20px solid #FF5773;
      }
    }

    .slick-prev {
      width: 40px;
      height: 50px;
      z-index: 10;
      &::before {
        content: '';
      }
      &::after {
        content: '';
        position: absolute;
        left: -10px;
        top: 15px;
        border: 10px solid transparent;
        border-right: 20px solid #FF5773;
      }
    }

    .slick-slide div, .slick-slide {
      outline: none;
    }
  }

  &__wrap {
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }

  &__item {
    padding: 13px 15px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    &:not(:last-child) {
      margin: auto 10px auto auto;
    }
  }

  &__img {
    max-width: 69px;
    max-height: 69px;
    margin: auto auto 9px auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
  }

  &__match {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FF5773;
  }
}
