.editProfile {
  padding: 35px 0 20px 0;

  &__buttons {

    @media (max-width: 576px) {
      text-align: center;
    }

    &:first-child {
      margin: 0 0 30px 0;

      @media (max-width: 576px) {
        margin: 0 0 20px 0;
      }
    }
  }

  &__btn {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 9px 10px;
    min-width: 151px;
    box-sizing: border-box;
    border-radius: 47px;
    border: none;
    margin: 0 15px 0 0;

    @media (max-width: 576px) {
      min-width: auto;
      padding: 5px 10px;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }

  &__deletePhoto {
    border: 2px solid #FF5773;
    color: #FF5773;
    background: #FFF;
  }

  &__addPhoto {
    background: #FF5773;
    color: #FFF;
  }

  &__form {
    width: 80%;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }
}

.editProfileForm {

  &__content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  &__column {
    display: inline-block;
    width: 440px;

    &:first-child {
      margin-right: 37px;

      @media (max-width: 576px) {
        margin-right: 5px;
      }
    }
  }

  &__input, &__textHolder {
    text-indent: 28px;
    width: 100%;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #B9B9B9;
    border: none;
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 8px 0;

    @media (max-width: 576px) {
      text-indent: 10px;
      font-size: 15px;
      line-height: 15px;
      padding: 6px 0;

      &::placeholder {
        font-size: 11px;
      }
    }

    &::placeholder {
      color: #B9B9B9;
    }
  }

  &__input, &__textHolder, &__button {
    &:focus {
      outline: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
  }

  &__input {
    margin-bottom: 15px;
    @media (max-width: 576px) {
      margin-bottom: 12px;
    }
  }

  &__textHolder {
    border-radius: 15px;
    min-height: 105px;
    margin-bottom: 20px;
    resize: none;
  }

  &__wrapper {
    text-align: right;
  }

  &__button {
    background: #FF5773;
    padding: 5px 0;
    border: none;
    min-width: 112px;
    border-radius: 28px;

    //text

    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
  }
}
