.bottom {

  &__container {
  }

  &__content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 256px);
    column-gap: 50px;
    row-gap: 50px;
  }

  &__column {
    flex: 0 1 256px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  &__border {
    position: relative;
    border: 6px solid #FF5773;
    border-radius: 21px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      width: 71px;
      height: 71px;
      border-radius: 50%;
      background: #FF5773 url("../../../../images/general/icons/checkMark.svg") center center no-repeat;
      background-size: 50%;

      @media (max-width: 576px) {
        width: 51px;
        height: 51px;
        transform: translate(0, -50%);
      }
    }
  }

  &__item {
    padding: 0 0 20px 0;
    color: #626267;
    background: #fff;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 256px;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;

    &:hover {

      .bottom__item_img {

        img {
          transform: scale(1.1);
        }
      }
    }

    &_img {
      width: 256px;
      height: 140px;
      margin: 0 0 20px 0;

      div, img {
        transition: all .5s ease-in-out;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &_title {
      padding: 0 10px;
      text-align: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_mark {
    }

    &_price {
      display: inline-flex;
      justify-content: center;
      align-items: baseline;
      min-width: 70%;
      margin: 0 0 19px 0;
    }

    &_button {
      background: #FF5773;
      border-radius: 4px;
      color: #fff;
      text-align: center;
      min-width: 65%;
      font-size: 18px;
      line-height: 26px;
      border: none;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}

.item {

  &_mark {
  }

  &_price {
    font-size: 24px;
    line-height: 28px;
  }

  &_button {
  }
}



.item_price {

  &__current {
  }

  &__old {
    font-size: 14px;
    color: #626267;
    text-decoration: line-through;
  }
}
